sdk/ios/Sources/OpenMasuApplePostback/Resources/conversion-schema-v1.json text eol=lf
sdk/unity/com.openmasu.sdk/Runtime/Plugins/iOS/Sources/OpenMasuApplePostback/Resources/conversion-schema-v1.json text eol=lf
