sdk/ios/Sources/OpenMmpApplePostback/Resources/conversion-schema-v1.json text eol=lf
sdk/unity/com.openmmp.sdk/Runtime/Plugins/iOS/Sources/OpenMmpApplePostback/Resources/conversion-schema-v1.json text eol=lf
